@model TextIt.Models.GameApplication

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.MinPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameStateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameStateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriesList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriesList)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
